@model CompStore.Models.Ordercs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordercs</h4>
    <hr />
    <div class="container">
        <div class="row">
            <dl>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.User)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ContactPhone)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ContactPhone)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Laptop)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Laptop.Id)
                </dd>
            </dl>
         </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
